<div class="row">
  <div class="col-12">
    <mat-card>
      <h1 class="text-center">Profile</h1>
    </mat-card>
  </div>
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 my-2">
    <mat-card>
      <ng-container *ngIf='user; else loadingUser'>
        <h4>Name : <span>{{ user?.name }}</span></h4>
        <h4>Email address : <span>{{ user?.email }}</span></h4>
        <h4>Specialization : <span>{{ user?.specialization }}</span></h4>
        <h4>Language : <span>{{ user?.language }}</span></h4>
        <h4>Channel : <span>{{ user?.channel }}</span></h4>
      </ng-container>
      <ng-template #loadingUser>
        <mat-spinner class="mx-auto"></mat-spinner>
      </ng-template>
    </mat-card>
  </div>
</div>